@import "tailwindcss";

*{
  box-sizing: border-box;
}

  /* Add animation styles to global CSS */
  
        @keyframes slide-in-left {
          from {
            opacity: 0;
            transform: translateX(-30px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
        
        @keyframes slide-in-right {
          from {
            opacity: 0;
            transform: translateX(30px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
        
        @keyframes fade-in-up {
          from {
            opacity: 0;
            transform: translateY(30px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
  
        .g1{
        color: #18A0B9;
      }
      .g2{
        color: #00BF63;
      }

      .scroll::-webkit-scrollbar{
          display: none;
      }

      @media screen and (max-width:950px) and (min-width:700px) {
         .navbar > a{
            font-size: 12px !important;
         }
         .navbar{
            gap:14px;
         }
         .nav-btn{
            padding: none;
           font-size: 11px !important;
         }

      }
      
      @media screen and (max-width:700px) and (min-width:300px) {
         .click{
          font-size: 10px;
         }
      }
